<nav class="navbar navbar-light bg-primary">
    <a class="navbar-brand" href="/">  <!-- href direciona para  a index princial, / padrão do ejs -->
         <!-- <img src="/img/default-logo.png" width="240" height="60"> -->
         <img src="/img/default-logo.png">
     </a>
 </nav>