<%- include('partials/header.ejs'); %>
<body>
    <%- include('partials/navbar.ejs'); %>
    <h1>Estilo de bootstrap</h1>
    <h2><a href="./perguntar">Perguntar</a></h2>
</body>
<%- include('partials/footer.ejs'); %>